@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #ffde59;
    --secondary-color: #000;
    --third-color: #757575;
    --fourth-color: #ededed;
    --fifth-color:#fffffe;
}
.font-primary-color,.font-primary-color--hover:hover {
    color: var(--primary-color);
}
.font-secondary-color,.font-secondary-color--hover:hover {
    color: var(--secondary-color);
}
.font-third-color,.font-third-color--hover:hover {
    color: var(--third-color);
}
.font-fourth-color,.font-fourth-color--hover:hover {
    color: var(--fourth-color);
}
.bg-primary-color {
    background-color: var(--primary-color);
}
.bg-secondary-color {
    background-color: var(--secondary-color);
}
.bg-third-color {
    background-color: var(--third-color);
}
.bg-fourth-color {
    background-color: var(--fourth-color);
}

html, body {
    scroll-behavior: smooth;
}

#logo {
    width: 250px;
    height: auto;
}
